.products {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  gap: 7px;
  max-width: 1115px;
  margin: 0 auto;
  padding: 20px 0;
}

.product-item {
  padding: 10px;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  border-radius: 5px;
}

.product-item .product-ite__add-cart {
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-transition: -webkit-box-shadow .3s;
  transition: -webkit-box-shadow .3s;
  transition: box-shadow .3s;
  transition: box-shadow .3s, -webkit-box-shadow .3s;
  border-radius: 4px;
}

.product-item:hover {
  -webkit-box-shadow: 0 0 30px rgba(11, 11, 11, 0.4);
          box-shadow: 0 0 30px rgba(11, 11, 11, 0.4);
}

.product-ite__add-cart:hover {
  -webkit-box-shadow: 0 0 30px rgba(11, 11, 11, 0.4);
          box-shadow: 0 0 30px rgba(11, 11, 11, 0.4);
}

.products-detail {
  max-width: 1115px;
  margin: 0 auto;
  padding: 20px 0;
}
